<mat-toolbar color="primary" class="toolbar">
  <button
    mat-icon-button
    class="menu-icon"
    aria-label="icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span>Project Board</span>
  <span class="spacer"></span>

  <button
    mat-icon-button
    class="notifications-icon"
    aria-label="icon-button with notifications icon"
  >
    <mat-icon>notifications</mat-icon>
  </button>

  <button
    mat-icon-button
    class="person-icon"
    aria-label="icon-button with person icon"
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
